git.suspectdevices.com {
    handle_path /cgit-css/* {
       root * /usr/share/cgit/
       file_server
    }
    handle {
            reverse_proxy localhost:8999 {
                        transport fastcgi {
                                env DOCUMENT_ROOT /usr/lib/cgit/
                                env SCRIPT_FILENAME /usr/lib/cgit/cgit.cgi
}   }           }        }
